{% extends 'base.html' %}

{% block title %} Simple Loan Calculator {% endblock %}


{% block body %} 

<h1>Simple Loan Calculator</h1>
<hr>

<form method="POST" action="monthlyPmt" id="calculateLoan">
    <label for="loanAmt">Loan Amount:</label><br>
    <input type="text" id="loanAmt" name="loanAmt" placeholder= 'In USD (1500)' required autofocus><br>
<br>
    <label for="lengthOfLoan">Length of Loan:</label><br>
    <input type="text" id="lengthOfLoan" name="lengthOfLoan" placeholder="In Years (30)" required><br>
<br>
    <label for="intRate">Interest Rate:</label><br>
    <input type="text" id="intRate" name="intRate" placeholder='In Decimal (.05)' required><br>
<br>

<input type="submit" value="Submit">

</form>

<br>

{% if monthlyPmt %}

    <p>Your monthly payment is: {{ monthlyPmt }}</p>

{% endif %}

{% endblock %}